!!! XML
!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", :lang => lang, :prefix => prefix}
  - if base || title
    %head
      - if base
        %base{:href => base}
      - if title
        %title= title
      %link{:rel => "stylesheet", :href => "http://rdf.kellogg-assoc.com/css/distiller.css", :type => "text/css"}
      %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js", :type => "text/javascript"}
      %script{:src => "http://rdf.kellogg-assoc.com/js/distiller.js", :type => "text/javascript"}
  %body
    - if base
      %p= "RDFa serialization URI base: &lt;#{base}&gt;"
    - subjects.each do |subject|
      %td{subject.attrs}
        != yield(subject)
    %footer
      %p= "Written by <a href='http://rubygems.org/gems/rdf-rdfa'>RDF::RDFa</a> version #{RDF::RDFa::VERSION}"
